<?xml version="1.0" encoding="UTF-8"?>
<launch>
  	<param name="robot_description"
    	command="$(find xacro)/xacro.py $(find final_description)/urdf/main.urdf.xacro" />
	<rosparam file="$(find final_control)/config/controllers.yaml" command="load"/>
  <group ns="robot1">
    <param name="tf_prefix" value="robot1_tf" />
    <include file="$(find final_gazebo)/launch/one_bot.launch" >
      <arg name="init_pose" value="-x 1 -y 1 -z 0" />
      <arg name="robot_name"  value="Robot1" />
    </include>
  </group>
  <group ns="robot2">
    <param name="tf_prefix" value="robot2_tf" />
    <include file="$(find final_gazebo)/launch/one_robot.launch" >
      <arg name="init_pose" value="-x -1 -y 1 -z 0" />
      <arg name="robot_name"  value="Robot2" />
    </include>
  </group>
</launch>